<!doctype html>
<html lang="pt-br">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Dashboard</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

  <header>
    <nav class="navHeader">
      <div class="divTitle">
        <h2>dev</h2>
      </div>
      <form action="#" class="formSearch">
        <i class="material-icons">search</i>
        <input type="text" class="txtSearch" placeholder="Search for tasks...">
      </form>

      <div class="profile">
        <a href="#" class="messages">
          <i class="material-icons">mail_outline</i>
        </a>
        <a href="#" class="notification">
          <i class="material-icons">notifications_none</i>
          <span class="icon_notification"></span>
        </a>
        <div class="user">
          <h4>Jan Teste</h4>
          <img src="../assets/avatar/pic1.svg">
        </div>
      </div>
    </nav>
  </header>

  <nav class="navbar">
    <ul>
      <li>
        <a href="#">
          <img src="../assets/group - material.svg" alt="">
          <h4>Manage</h4>
        </a>
      </li>
      <li class="selected">
        <a href="#">
          <img src="../assets/dns - material.svg" alt="">
          <h4>Boards</h4>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../assets/event_note - material.svg" alt="">
          <h4>Schedule</h4>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../assets/insert_chart - material.svg" alt="">
          <h4>Reports</h4>
        </a>
      </li>
    </ul>

    <div class="settings">
      <a href="#">
        <img src="../assets/settings - material.svg" alt="">
        <h4>Settings</h4>
      </a>
    </div>
  </nav>
  <div class="pages">
    <router-outlet></router-outlet>
  </div>
</body>

</html>